<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/CriarConta_estilo.css">
    <title>Catequese - Criar Conta</title>
</head>
<body>
    <div class="container">
        <h2>Criar Conta</h2>
        <form id="criarContaForm">
            <label for="Nome">Nome:</label>
            <input type="text" id="Nome" name="Nome" required>

            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" required>

            <label for="Senha">Senha:</label>
            <input type="password" id="Senha" name="Senha" required>

            <label for="ConfirmarSenha">Confirmar Senha:</label>
            <input type="password" id="ConfirmarSenha" name="ConfirmarSenha" required>

            <div id="mensagemSucesso" style="color: green; margin-bottom: 20px;"></div>
            <div id="mensagemErro" style="color: red; margin-bottom: 20px;"></div>

            <button type="button" onclick="CriarConta()">Criar Conta</button>
            <p>Já tem uma conta? <a href="/Views/Login.html">Faça login</a>.</p>
        </form>
    </div>
    <script src="/FrontEnd/CriarConta_front.js"></script>
</body>
</html>
